{% extends 'parent.html' %}

<!-- Write code for title -->
{% block title%}
<title>About us</title>
{% endblock title%}
<main>
    Fun loving person
</main>
{% block main %}
<main>
    <!-- Fun loving person -->

    <body>

        <div class="container mt-4">
            <!-- Jumbotron for introduction -->
            <div class="jumbotron">
                <h1 class="display-4">About Us</h1>
                <p class="lead">Welcome to Task Manager, your go-to tool for organizing tasks efficiently.</p>
                <hr class="my-4">
                <p>We strive to provide a simple yet powerful solution for managing your tasks, projects, and deadlines.
                </p>
            </div>

            <!-- Section for Mission Statement -->
            <section class="mb-5">
                <h2>Our Mission</h2>
                <p>"Streamlining productivity and enhancing team collaboration through a seamless platform for task
                    management, collaboration, progress tracking, and simplified task tracking and management,
                    empowering users to focus on what matters most."</p>
                
            </section>

            <!-- Section for Team Members -->
            <section class=" mb-5 text-center">
                <h2>Our Team</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/image/CEO.jpg" class="card-img-top" alt="Team Member 1">
                            <div class="card-body">
                                <h5 class="card-title">Ashutoh Mishra</h5>
                                <p class="card-text">Founder & CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/static/image/CM.jpg" class="card-img-top" alt="Team Member 2">
                            <div class="card-body">
                                <h5 class="card-title">Aryan Pandey</h5>
                                <p class="card-text">Product Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </section>

        <!-- Section for Contact Information -->
        <section>
            <div class="container mt-4">
                <h2>Contact Us</h2>
                <p>If you have any questions or feedback, please feel free to reach out to us:</p>
                <ul>
                    <li>Email: contact@taskmanager.com</li>
                    <li>Phone: +91 8982608462</li>
                </ul>
        </section>
        </div>
        </div>
</main>
{% endblock main %}